<button 
  (click)="handleLike()" 
  [ngClass]="{
    btn: true,
    'btn-sm': true,
    'btn-primary': isFavorited,
    'btn-outline-primary': !isFavorited
  }"
>
  <i class="ion-heart"></i>
  <span *ngIf="displayPage === 'article-page'">
    <span *ngIf="!isFavorited">&nbsp; Favorite</span>
    <span *ngIf="isFavorited">&nbsp; Unfavorite</span>
    Article
    <span class="counter">( {{ favoritesCount }} )</span>
  </span>
  <span *ngIf="displayPage === 'feed-page'">&nbsp; {{ favoritesCount }}</span>
</button>
